.main__values{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.main__values-heading{
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.main__values-heading h1{
  font-family: var(--font-family);
  font-size: 42px;
  font-weight: 800;
  line-height: 50px;
  margin-right: 5rem;
}

.main__values-container{
  -webkit-box-flex: 1.5;
      -ms-flex: 1.5;
          flex: 1.5;
}


.gradient__text{
  /* opera 11.10+ */
  background:-o-linear-gradient(350deg, rgba(255, 193, 7, 1) 0%, rgba(129, 175, 221, 1) 50%, rgba(203, 153, 5, 1) 100%);

  /* ie 6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFC107', endColorstr='#CB9905', GradientType=1 );

  /* ie 10+ */

  /* global 94%+ browsers support */
  background:-o-linear-gradient(100deg, rgba(255, 193, 7, 1) 0%, rgba(129, 175, 221, 1) 50%, rgba(203, 153, 5, 1) 100%);
  background:linear-gradient(350deg, rgba(255, 193, 7, 1) 0%, rgba(129, 175, 221, 1) 50%, rgba(203, 153, 5, 1) 100%);

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 990px){
  .main__values{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .main__values-container{
    margin-top: 2rem;
  }
}

@media screen and (max-width: 550px){
  .main__values-heading h1{
    font-size: 28px;
    line-height: 38px;
  }
}