*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body{
  background: var(--color-bg);
}

a{
  text-decoration: none;
  color: unset;
}

.section__padding {
  padding: 4rem 6rem;
}

.section__margin {
  margin: 4rem 6rem;
}

.bg__gradient{
  /* ff 3.6+ */ 

  /* safari 5.1+,chrome 10+ */

  /* opera 11.10+ */
  background:-o-linear-gradient(0deg, rgba(26, 7, 57, 1) 0%, rgba(75, 37, 137, 1) 100%);

  /* ie 6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1A0739', endColorstr='#4B2589', GradientType=1 );

  /* ie 10+ */

  /* global 94%+ browsers support */
  background:-o-linear-gradient(bottom, rgba(26, 7, 57, 1) 0%, rgba(75, 37, 137, 1) 100%);
  background:-webkit-gradient(linear, left bottom, left top, from(rgba(26, 7, 57, 1)), to(rgba(75, 37, 137, 1)));
  background:linear-gradient(0deg, rgba(26, 7, 57, 1) 0%, rgba(75, 37, 137, 1) 100%);
}

.bg__gradient-light{

  /* ff 3.6+ */ 

  /* safari 5.1+,chrome 10+ */

  /* opera 11.10+ */
  background:-o-linear-gradient(159deg, rgba(75, 37, 137, 1) 64%, rgba(255, 255, 255, 1) 100%);

  /* ie 6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#4B2589', GradientType=1 );

  /* ie 10+ */

  /* global 94%+ browsers support */
  background:-o-linear-gradient(291deg, rgba(75, 37, 137, 1) 64%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(159deg, rgba(75, 37, 137, 1) 64%, rgba(255, 255, 255, 1) 100%);

}

.gradient__text{
  /* opera 11.10+ */
  background:-o-linear-gradient(350deg, rgba(255, 193, 7, 1) 0%, rgba(129, 175, 221, 1) 50%, rgba(203, 153, 5, 1) 100%);

  /* ie 6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFC107', endColorstr='#CB9905', GradientType=1 );

  /* ie 10+ */

  /* global 94%+ browsers support */
  background:-o-linear-gradient(100deg, rgba(255, 193, 7, 1) 0%, rgba(129, 175, 221, 1) 50%, rgba(203, 153, 5, 1) 100%);
  background:linear-gradient(350deg, rgba(255, 193, 7, 1) 0%, rgba(129, 175, 221, 1) 50%, rgba(203, 153, 5, 1) 100%);

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hover-shadow:hover{
  box-shadow: 1px 1px 6px 1px rgba(255,193,7,0.56);
-webkit-box-shadow: 1px 1px 6px 1px rgba(255,193,7,0.56);
-moz-box-shadow: 1px 1px 6px 1px rgba(255,193,7,0.56);
}

.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media screen and (max-width: 700px) {
  .section__padding {
    padding: 4rem;
  }

  .section__margin {
    margin: 4rem;
  }
}

@media screen and (max-width: 550px) {
  .section__padding {
    padding: 4rem 2rem;
  }

  .section__margin {
    margin: 4rem 2rem;
  }  
}