@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root{
  --font-family: 'Manrope' , 'sans-serif';

  --color-bg: rgba(26, 7, 57, 1);
  --color-orange: rgba(255, 193, 7, 1);
  --color-footer: rgba(75, 37, 137, 1); 
  --color-text: rgba(129, 175, 221, 1);
  --color-offwhite: rgb(203, 200, 200);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
          appearance: none;;
  margin: 0;
}

input[type=number] {
  -webkit-appearance: textfield;
      -moz-appearance: textfield;
          appearance: textfield;
}

path {
  stroke: unset;
}
